:root {
    --font-size-normal: normal;
    --font-size-h1: 2em;
    --font-size-h2: 1.4em;
    font-synthesis: none;
    font-family: "Open Sans", sans-serif;
    max-width: 900px;
    margin: 0px auto;
    font-size: var(--font-size-normal);
    
    li {
        margin-top: 0.7em;
    }

    h1, h2 {
        font-family: Georgia, serif;
        font-weight: normal;
    }

    h1 {
        font-size: var(--font-size-h1)
    }

    h2 {
        font-size: var(--font-size-h2);
    }

    body {
        padding: 2%;
    }

    quote {
        font-family: Georgia, serif;
        font-size: var(--font-size-h2);
    }

}

.fic {
    align-content: center;

    font-family: "Open Sans", sans-serif;
    
    max-width: 900px;
    margin-bottom: 10%;
    

    h1, h2 {
        font-family: Georgia, serif;
        font-weight: normal;
        text-align: center;
        padding-top: 2em;
    }

    h1 {
        padding-bottom: 1em;
    }

    .sep {
        padding: 3em 0px;
    }

    .fictext {
        margin: 20% 0px;
    }
}