:root {
    --font-size-normal: unset;
    --font-size-h1: 2rem;
    --font-size-h2: 1.4rem;
    --font-sans-serif: "Open Sans", sans-serif;
    --font-serif: Georgia, serif;
    font-synthesis: none;
    font-family: var(--font-sans-serif);
    
    font-size: var(--font-size-normal);
    justify-content: center;
    display: flex
    
}

video {
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 1rem;

    .homepageLink {
        
        text-decoration: underline dotted;

    }
}

li {
    margin-top: 0.7em;
}

a {
    color: unset;
    &:hover {
        color: gray;
    }
}
h1, h2 {
    font-family: var(--font-serif);
    font-weight: normal;
}

h1 {
    font-size: var(--font-size-h1)
}

h2 {
    font-size: var(--font-size-h2);
}

body {
    margin: 3rem 20px;
    max-width: 60rem;
    width: 100%;
   
}

quote {
    font-family: var(--font-serif);
    font-size: var(--font-size-h2);
}

.ficlist {
    li {
        font-style: italic;
        
        small {
            font-style: normal;
            
        }
    }
}

.fic {
    
    margin-bottom: 10%;
    

    h1, h2 {
        text-align: center;
        padding-bottom: 1em;
    }

    .sep {
        padding: 3em 0px;
    }

    .fictext {
        margin: 15rem 0px;
    }
}